{% extends 'base.html' %}


{% block title %}遊戲大廳{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static' , filename='css/game.css') }} ">
    <style>
        body {
            background: #000;
            margin: 0;
        }

        #screen {
            display: block;
            height: 80vh;
            margin: auto;
        }
    </style>

    
{% endblock %}

{% block Selected5 %}active{% endblock %}
    
{% block main %}
<canvas id="screen" width="500" height="260"></canvas>

<form action="" method="POST">
    <div class="form-container">
        <input name="money" value="{{gameData.money}}" id="money">
        <input name="level" value="{{gameData.level}}" id="level"> 
    </div>
</form>

<script src="{{ url_for('static', filename='js/Compositor.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/MusicController.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/MusicPlayer.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/Level.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/TileCollider.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/TileResolver.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/Camera.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/Timer.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/loaders.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/loaders/level.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/loaders/font.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/loaders/audio.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/loaders/music.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/loaders/sprite.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/loaders/database.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/math.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/EntityCollider.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/BoundingBox.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/Entity.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/AudioBoard.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/EventEmitter.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/Trait/Go.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/Trait/Jump.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/Trait/Killable.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/Trait/PendulumMove.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/Trait/Physics.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/Trait/Velocity.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/Trait/Gravity.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/Trait/Emitter.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/Trait/PlayerController.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/Trait/Solid.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/Trait/Stomper.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/Trait/Player.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/anim.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/entities/Mario.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/entities/Goomba.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/entities/Koopa.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/entities/Bullet.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/entities/Cannon.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/entities.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/SpriteSheet.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/layers/background.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/layers/sprites.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/layers/collision.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/layers/camera.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/layers/dashboard.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/KeyboardState.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/player.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/debug.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/main.js') }}" type="text/javascript"></script>
    

    
{% endblock %}